{% load static %}
<section class="featured-section">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                        <div class="d-flex">
                            <div>
                                <h5 class="mb-2">Web Development</h5>

                                <p class="mb-0">Web development is the art and science of building and maintaining websites, involving tasks such as coding, designing, and optimizing for functionality and user experience. It encompasses both front-end development for the user interface and back-end development for server-side functionalities, ensuring the creation of dynamic and interactive online platforms.</p>
                            </div>

                            <span class="badge bg-design rounded-pill ms-auto">14</span>
                        </div>

                        <img src="{% static 'assets/images/topics/undraw_Remote_design_team_re_urdx.png'%}" class="custom-block-image img-fluid" alt="">
                    </a>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="custom-block custom-block-overlay">
                    <div class="d-flex flex-column h-100">
                        <img src="{% static 'assets/images/businesswoman-using-tablet-analysis.jpg'%}" class="custom-block-image img-fluid" alt="">

                        <div class="custom-block-overlay-text d-flex">
                            <div>
                                <h5 class="text-white mb-2">App Development</h5>

                                <p class="text-white">App development involves the process of creating software applications for mobile devices or other electronic devices. This multifaceted field encompasses designing, coding, testing, and optimizing applications to provide seamless and user-friendly experiences for a diverse range of users.</p>

                                <a href="topics-detail.html" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                            </div>

                            <span class="badge bg-finance rounded-pill ms-auto">25</span>
                        </div>

                        <div class="social-share d-flex">
                            <p class="text-white me-4">Share:</p>

                            <ul class="social-icon">
                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-twitter"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-facebook"></a>
                                </li>
                                <!-- Designms-auto"></a> -->
                        </div>

                        <div class="section-overlay"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>