<!doctype html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>HALUM - Online Ticket Service</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'assets/css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'assets/css/templatemo-topic-listing.css' %}" rel="stylesheet">      
<!--


-->
    </head>
    
    <body id="top">

        <main>
            {% include 'front_page/navbar.html'%}
            {% include 'front_page/hero.html'%}
            {% include 'front_page/featured.html'%}
            {% include 'front_page/explore.html'%}
            {% include 'front_page/timeline.html'%}
            {% include 'front_page/faq.html'%}
            {% include 'front_page/contact.html'%}

        </main>
        {
            {% include 'front_page/footer.html'%}
        }




        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'assets/js/jquery.min.js'%}"></script>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>
        <script src="{% static 'assets/js/jquery.sticky.js'%}"></script>
        <script src="{% static 'assets/js/click-scroll.js'%}"></script>
        <script src="{% static 'assets/js/custom.js'%}"></script>

    </body>
</html>
